fastapi
uvicorn
passlib[bcrypt]
python-jose
python-multipart
sqlalchemy
pydantic
email-validator
requests
python-dotenv
streamlit
requests
pandas
numpy
Pillow
opencv-python
python-dotenv
tensorflow
imutils